<!-- 메뉴 및 경로 -->
<div class="breadcrumb">
  <div class="breadcrumb__inner flex align-end gap-16">
    <h1 class="breadcrumb__title heading4-b-32 color-slate-900">Open API</h1>
    <nav class="breadcrumb__nav" aria-label="현재 위치">
      <ol class="breadcrumb__list flex align-center gap-10">
        <li class="breadcrumb__item">
          <a href="../main/index.html" class="breadcrumb__link body2-r-16 color-slate-500">홈</a>
        </li>
        <li class="breadcrumb__item" aria-hidden="true">
          <span class="breadcrumb-arrow" aria-hidden="true"></span>
        </li>
        <li class="breadcrumb__item">
          <span class="body2-r-16 color-slate-500">데이터 개방</span>
        </li>
        <li class="breadcrumb__item" aria-hidden="true">
          <span class="breadcrumb-arrow" aria-hidden="true"></span>
        </li>
        <li class="breadcrumb__item">
          <span class="body2-m-16 color-slate-900" aria-current="page">Open API</span>
        </li>
      </ol>
    </nav>
  </div>
</div>
