<aside class="mypage__lnb grid-column-2" aria-labelledby="mypage-lnb-title">
  <h2 id="mypage-lnb-title" class="mypage__lnb-title heading8-sb-24 color-slate-900">마이페이지</h2>
  <nav aria-label="마이페이지 메뉴">
    <ul class="mypage__lnb-list">
      <li>
        <a href="../mypage/index.html" class="mypage__lnb-link body2-m-16" data-mypage-nav="favorites">관심 데이터</a>
      </li>
      <li>
        <a href="../mypage/download/index.html" class="mypage__lnb-link body2-m-16" data-mypage-nav="download">다운로드 내역</a>
      </li>
      <li>
        <a href="../mypage/openapi/index.html" class="mypage__lnb-link body2-m-16" data-mypage-nav="openapi">Open API 관리</a>
      </li>
      <li>
        <a href="../mypage/authkey/index.html" class="mypage__lnb-link body2-m-16" data-mypage-nav="authkey">인증키 발급 현황</a>
      </li>
      <li>
        <a href="../mypage/inquiry/index.html" class="mypage__lnb-link body2-m-16" data-mypage-nav="inquiry">나의 문의</a>
      </li>
    </ul>
  </nav>
</aside>
